@{
    ViewData["Title"] = "Home Page";
}
<main>
        <div id="Offer-banner">
        <h1>Super Flash Sale <br>50% Off</h1>
        </div>
        <div id="banners">
            <div class="banner-item">
                <div class="banner-item-txt">
                    <p>FS-QUILED MAXI <br> CROSS BAG</p>
                    <p class="old-price">$534,33 </p><span class="percent-off">24% off</span>
                </div>
                <img src="./Ecom-Img/image Product (2).png" alt="">
                <p class="cost">$299,43</p>
            </div>
            <div class="banner-item">
                <div class="banner-item-txt">
                    <p>FS-QUILED MAXI <br> CROSS BAG</p>
                    <p class="old-price">$534,33 </p><span class="percent-off">24% off</span>
                </div>
                <img src="./Ecom-Img/image Product-1.png" alt="">
                <p class="cost">$299,43</p>
            </div>
            <div class="banner-item">
                <div class="banner-item-txt">
                    <p>FS-QUILED MAXI <br> CROSS BAG</p>
                    <p class="old-price">$534,33 </p><span class="percent-off">24% off</span>
                </div>
                <img src="./Ecom-Img/image Product.png" alt="">
                <p class="cost">$299,43</p>
            </div>
            
        </div>
        <div id="best-seller">
            <h2>BEST SELLER</h2>
            <div id="best-seller-nav"><a href="">ALL</a>
                <a href="">Bags</a>
                <a href="">Belts</a>
                <a href="">Snickers</a>
                <a href="">SunGlasses</a>
            </div>
        </div>>
        <div id="best-seller-cards">
            <div class="best-cards">
                <img src="./Ecom-Img/image Product-2.png" alt="">
                <div class="best-cards-txt">
                    <p>Nike Air Max 270 React</p>
                    <div class="ratings">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                    </div>
                    <div class="cost-container">
                        <span class="card-cost">$299,43</span>
                        <span class="old-card-price">$534,33</span>
                        <span class="card-percent-off">24% off</span>
                    </div>
                    
                </div>
            </div>
            <div class="best-cards">
                <img src="./Ecom-Img/image Product-3.png" alt="">
                <div class="best-cards-txt">
                    <p>Nike Air Max 270 React</p>
                    <div class="ratings">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                    </div>
                    <div class="cost-container">
                        <span class="card-cost">$299,43</span>
                        <span class="old-card-price">$534,33</span>
                        <span class="card-percent-off">24% off</span>
                    </div>
                    
                </div>
            </div>
            <div class="best-cards">
                <img src="./Ecom-Img/image Product-3.png" alt="">
                <div class="best-cards-txt">
                    <p>Nike Air Max 270 React</p>
                    <div class="ratings">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                    </div>
                    <div class="cost-container">
                        <span class="card-cost">$299,43</span>
                        <span class="old-card-price">$534,33</span>
                        <span class="card-percent-off">24% off</span>
                    </div>
                    
                </div>
            </div>
            <div class="best-cards">
                <img src="./Ecom-Img/image Product-5.png" alt="">
                <div class="best-cards-txt">
                    <p>Nike Air Max 270 React</p>
                    <div class="ratings">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                    </div>
                    <div class="cost-container">
                        <span class="card-cost">$299,43</span>
                        <span class="old-card-price">$534,33</span>
                        <span class="card-percent-off">24% off</span>
                    </div>
                    
                </div>
            </div>
            <div class="best-cards">
                <img src="./Ecom-Img/Product Picture02.png" alt="">
                <div class="best-cards-txt">
                    <p>Nike Air Max 270 React</p>
                    <div class="ratings">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                    </div>
                    <div class="cost-container">
                        <span class="card-cost">$299,43</span>
                        <span class="old-card-price">$534,33</span>
                        <span class="card-percent-off">24% off</span>
                    </div>
                    
                </div>
            </div>
            <div class="best-cards">
                <img src="./Ecom-Img/Product Picture03.png" alt="">
                <div class="best-cards-txt">
                    <p>Nike Air Max 270 React</p>
                    <div class="ratings">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                    </div>
                    <div class="cost-container">
                        <span class="card-cost">$299,43</span>
                        <span class="old-card-price">$534,33</span>
                        <span class="card-percent-off">24% off</span>
                    </div>
                    
                </div>
            </div>
            <div class="best-cards">
                <img src="./Ecom-Img/Product Picture01.png" alt="">
                <div class="best-cards-txt">
                    <p>Nike Air Max 270 React</p>
                    <div class="ratings">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                    </div>
                    <div class="cost-container">
                        <span class="card-cost">$299,43</span>
                        <span class="old-card-price">$534,33</span>
                        <span class="card-percent-off">24% off</span>
                    </div>
                    
                </div>
            </div>
            <div class="best-cards">
                <img src="./Ecom-Img/image Product-6.png" alt="">
                <div class="best-cards-txt">
                    <p>Nike Air Max 270 React</p>
                    <div class="ratings">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                        <img src="./Ecom-Img/star copy 4.png" alt="">
                    </div>
                    <div class="cost-container">
                        <span class="card-cost">$299,43</span>
                        <span class="old-card-price">$534,33</span>
                        <span class="card-percent-off">24% off</span>
                    </div>
                    
                </div>
            </div>
        </div>
        <a href="">LOAD MORE</a>
        <div id="shop-banner">
            <div id="shop-ban-txt">
                <p id="shop-ban-txt-big">Adidas Men Running <br>Sneakers</p>
                <p id="shop-ban-txt-small">Performance and design. Taken right to the edge</p>
                <a id="shop-ban-link" href="">SHOP NOW</a>
            </div>
            <div id="shop-banner-pic">
                <img src="./Ecom-img/shoes-shoe-png-transparent-shoe-images-pluspng-17 1.png" alt="" >
            </div>
        </div>
        <div id="services">
            <div class="service">
                <img src="~/Ecom-img/shipping.png" alt="" >
                <p class="service-title">FFREE SHIPPING</p>
                <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, laudantium!</p>
            </div>
            <div class="service">
                <img src="~/Ecom-img/refund.png" alt="" >
                <p class="service-title">100% REFUND</p>
                <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, laudantium!</p>
            </div>
            <div class="service">
                <img src="~/Ecom-img/support.png" alt="" >
                <p class="service-title">SUPPORT 24/7</p>
                <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, laudantium!</p>
            </div>
        </div>
        <div id="news">
                <h2>LATEST NEWS</h2>
                <div id="news-cards">
                   <div class="news-card">
                        <div class="news-card-img"> 
                            <img src="~/Ecom-img/Nike_logo_emblem_logotype 1.png"/>
                        </div>
                        <div class="news-card-txt">
                            <p class="news-date">01 Jan, 2015</p>
                            <p class="news-title">Best Design Tools</p>
                            <p class="news-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, laudantium!</p>
                        </div>
                   </div>
                   <div class="news-card">
                        <div class="news-card-img"> 
                            <img src="~/Ecom-img/figma-1-logo 1.png"/>
                        </div>
                        <div class="news-card-txt">
                            <p class="news-date">01 Jan, 2015</p>
                            <p class="news-title">Best Design Tools</p>
                            <p class="news-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, laudantium!</p>
                        </div>
                   </div>
                   <div class="news-card">
                        <div class="news-card-img"> 
                            <img src="~/Ecom-img/kronos-logo-1-1 1.png"/>
                       </div>
                        <div class="news-card-txt">
                            <p class="news-date">01 Jan, 2015</p>
                            <p class="news-title">Best Design Tools</p>
                            <p class="news-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, laudantium!</p>
                        </div>
                   </div>
                  </div>
            </div>
            <div>
                <h2>FEATURED PRODUCTS</h2>
                <div id="featured-products">
                    <div class="featured-product">
                        <div class="featured-product-pic">
                            <img src="~/Ecom-img/Vector.png" />
                        </div>
                        <div class="featured-product-txt">
                            <p>Blue Swade Nike</p>
                            <p>Sneakers</p>
                            <div class="rates">
                                <img  src="~/Ecom-img/star copy 4.png"/>
                                <img  src="~/Ecom-img/star copy 4.png"/>
                                <img  src="~/Ecom-img/star copy 4.png"/>
                                <img  src="~/Ecom-img/star copy 4.png"/>
                                <img  src="~/Ecom-img/star copy 4.png"/>
                            </div>
                            <div class="cost-container">
                                <span class="discount-cost">$599</span>
                                <span class="main-cost">$499</span>
                            </div>
                        </div>
                    </div>
                    <div class="featured-product">
                        <div class="featured-product-pic">
                            <img src="~/Ecom-img/Vector.png" />
                        </div>
                        <div class="featured-product-txt">
                            <p>Blue Swade Nike</p>
                            <p>Sneakers</p>
                            <div class="rates">
                                <img  src="~/Ecom-img/star copy 4.png"/>
                                <img  src="~/Ecom-img/star copy 4.png"/>
                                <img  src="~/Ecom-img/star copy 4.png"/>
                                <img  src="~/Ecom-img/star copy 4.png"/>
                                <img  src="~/Ecom-img/star copy 4.png"/>
                            </div>
                            <div class="cost-container">
                                <span class="discount-cost">$599</span>
                                <span class="main-cost">$499</span>
                            </div>
                        </div>
                    </div>
                    <div class="featured-product">
                        <div class="featured-product-pic">
                            <img src="~/Ecom-img/Vector.png" />
                        </div>
                        <div class="featured-product-txt">
                            <p>Blue Swade Nike</p>
                            <p>Sneakers</p>
                            <div class="rates">
                                <img  src="~/Ecom-img/star copy 4.png"/>
                                <img  src="~/Ecom-img/star copy 4.png"/>
                                <img  src="~/Ecom-img/star copy 4.png"/>
                                <img  src="~/Ecom-img/star copy 4.png"/>
                                <img  src="~/Ecom-img/star copy 4.png"/>
                            </div>
                            <div class="cost-container">
                                <span class="discount-cost">$599</span>
                                <span class="main-cost">$499</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form action="" method="get">
                <input type="text" name="search" id="search" placeholder="Search">
                <button type="submit">Search</button>
            </form>
</main>
